#box1{
    width:300px;
    height:300px;
    float:left;
    padding:15px;
    margin:10px;
    background-color:blue;
}

#box2{
    width:300px;
    height:300px;
    float:left;
    padding:15px;
    margin:10px;
    background-color:blue;
    opacity:0.5;
}

#box2:hover{
    opacity:1.0;
}