body{
    background-color: #9c9f84;
    margin:0px;
}

#main{
    background-color:#e5e4d7;
    border-radius: 5px;
    padding:10px;
    margin:20px;
}

#main2{
    background-color:green;
    color:yellow;
    border-radius:5px;
    padding:10px;
    margin:20px;
    height:120px;
    overflow:hidden;
}