body{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: #ffcf79;
    font-size: 25px;
}
h1{
    
    text-decoration:underline;
    font-size:150%
}

h2{
    
    text-decoration:underline;
    font-size:1.2em;
}

p.para1{
    color: blue;
}

.underline{
    text-decoration: underline;
}

p.para2{
    color: purple;
   
}

p.para3{
    color: purple;
    font-size: 15px;
   line-height:1.5rem;
}