body{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    background-color: #ffcf79;
}
h1,h2{
    
    text-decoration:underline;
}

p.para1{
    color: blue;
    font-size: 25px;
   
}

.underline{
    text-decoration: underline;
}

p.para2{
    color: purple;
    font-size: 25px;
   
}

p.para3{
    color: purple;
    font-size: 25px;
    font-style:oblique;
   
}