body{
    color: greenyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
h1,h2{
    border-bottom: 1px solid black;
}

.blue{
    color: blue;
    font-size: 25px;
   
}

.underline{
    text-decoration: underline;
}

p.purple{
    color: purple;
    font-size: 25px;
   
}