ul{
    list-style:none;
    padding:0;
    margin:0;
}

ul li a{
    text-decoration:none;
    font-family:Geogia, "Times New Roman" , Times, serif;
    background-color:#5c755e;
    color:white;
    display:block;
    width:80px;
    margin:5px;
    padding:10px;
    border:1px solid red;
    border-radius:2px;
    text-align:center;
    height:25px;
    line-height:25px;
}

ul li a:hover{
    background-color:#d3d3d3;
    color:black;
}